{% extends "base.html" %}

{% block app_content %}

<div class="row mb-3">
    <div class="col">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row"><p>
    {{ _("Un compte est nécessaire pour accéder à cette page.") }}
</p></div>
<div class="row mt-3 mb-5">
    <div class="col">
        <a class="btn btn-primary ms-3"
                href="{{ url_for("auth.login", **request.args) }}">
            {{ _("Connexion") }}
        </a>
        <a class="btn btn-primary ms-5"
           href="{{ url_for("auth.register", **request.args) }}">
            {{ _("Créer un compte") }}
        </a>
    </div>
</div>
<div class="row"><p>
    {{ _("En cas de problème, n'hésitez pas à ") }}
    <a href="{{ url_for("main.contact") }}">{{ _("nous contacter") }}</a>.
</p></div>

{% endblock %}
