{% extends "base.html" %}

{% block app_content %}

<div class="row mb-3">
    <div class="col">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row mb-3">
    <div class="col">
        {{ _("Trois méthodes sont possibles pour créer un compte PC est magique :") }}
        <ul>
            <li>
                {{ _("Soit en accédant à ce site depuis le réseau de la Rez (parcours Rezident) ;") }}
            </li>
            <li>
                {{ _("Soit en s'authentifiant avec un compte ESPCI (parcours Élève, et doctorant dans le futur) ;") }}
            </li>
            <li>
                {{ _("Soit en recevant un token de connexion sur une adresse espci.org (parcours Alumni, à venir).") }}
            </li>
        </ul>
    </div>
</div>

<div class="row mb-5 justify-content-center text-center">
    <div class="col col-3 px-4">
        {% if g.internal %}
        <a class="btn btn-primary" href="{{ url_for("auth.register_rezident", **request.args) }}">
            {{ _("Inscription Rezident") }}
        </a>
        {% else %}
        <div class="d-inline-block" data-bs-toggle="tooltip"
             title="{{ _("Disponible uniquement depuis le réseau de la Rez") }}">
            <a class="btn btn-primary disabled" disabled>
                {{ _("Inscription Rezident") }}
            </a>
        </div>
        {% endif %}
    </div>
    <div class="col col-3 px-4">
        <a class="btn btn-primary" href="{{ url_for("auth_saml.login", **request.args) }}">
            {{ _("Authentification espci.psl.eu") }}
        </a>
    </div>
    <div class="col col-3 px-4">
        <div class="d-inline-block" data-bs-toggle="tooltip" title="{{ _("Fonctionnalité à venir") }}">
            <a class="btn btn-primary disabled" disabled>
                {{ _("Authentification espci.org") }}
            </a>
        </div>
    </div>
</div>

<div class="row">
    <p>
        {{ _("Déjà inscrit ?") }}
        <a class="btn btn-outline-primary ms-2" href="{{ url_for("auth.login", **request.args) }}">
            {{ _("Connexion") }}
        </a>
    </p>
</div>

{% endblock %}
