{% extends "base.html" %} {% import "_form.html" as wtf %} {% block scripts %} {{ super() }} 
<script src="{{url_for("static", filename="js/sort-table.js") }}" defer>
 </script>
<script src="{{url_for("static", filename="js/club_q/pceens.js") }}" defer>
</script>
{% endblock %}{% block app_content %} {% include 'club_q/common.html' %}

<h4>{{ _("PCéens : ")}}</h4>

<div class="row mb-3">
  <div class="col table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th
            scope="col"
            onclick="sort('id');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("ID") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-id"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('name');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Nom") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-name"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('promo');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Promo") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-promo"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('asked');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Places demandées") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-asked"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('given');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Places attribuées") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-given"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('discontent');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Mécontentement") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-discontent"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('cost');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("À payer") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-discontent"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            class="centered"
            scope="col"
          >
            <div class="centered-content">
              <span>
                <svg
                  class="bi flex-shrink-0"
                  width="22"
                  height="22"
                >
                  {{ macros.bootstrap_icon("wrench") }}
                </svg>
              </span>
            </div>
          </th>
        </tr>
      </thead>

      <tbody id="sort-table">
        {% for i in size %}
        <tr
          data-id="{{ str(pceens[i].id).rjust(5, '0') }}"
          data-name="{{ pceens[i].full_name }}"
          data-promo="{{ pceens[i].promo or 0 }}"
          data-asked="{{ str(sum_places_demandees[i]).rjust(5, '0') }}"
          data-given="{{ str(sum_places_attribuees[i]).rjust(5, '0') }}"
          data-cost="{{ pceens_a_payer[i] }}"
          data-discontent="{{ pceens[i].discontent or 0}}"
        >
          <td onclick="window.location='{{ url_for('club_q.pceen_id', id=pceens[i].id) }}';">{{ pceens[i].id }}</td>
          <td onclick="window.location='{{ url_for('club_q.pceen_id', id=pceens[i].id) }}';"><p class="overflow no_extra">{{ pceens[i].full_name }}</p></td>
          <td>{{ pceens[i].promo }}</td>
          <td>{{ sum_places_demandees[i] }}</td>
          <td>{{ sum_places_attribuees[i] }}</td>
          <td>{{ pceens[i].discontent }}</td>
          <td>{{ babel.format_currency(pceens_a_payer[i], "EUR")}}</td>
          <td>
            <div
              data-bs-toggle="tooltip"
              title="{{ _('Éditer le mécontement') }}"
            >
              <button
                class="btn btn-outline-danger p-1 pt-0"
                data-bs-target="#mo-pceen-edit"
                data-bs-toggle="modal"
                data-pceen-id="{{ pceens[i].id }}"
                data-pceen-nom="{{ pceens[i].full_name}}"
                data-pceen-discontent="{{ pceens[i].discontent }}"
              >
                <svg
                  class="bi flex-shrink-0"
                  width="18"
                  height="18"
                >
                  {{ macros.bootstrap_icon("pen") }}
                </svg>
              </button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tbody>
      <tr>
          <td><b>{{ _("Total") }}</b></td>
          <td><b>{{ _("-") }}</b></td>
          <td><b>{{ _("-") }}</b></td>
          <td><b>{{ showed_season.sum_places_demandees }}</b></td>
          <td><b>{{ showed_season.sum_places_attribuees }}</b></td>
          <td><b>{{ _("-") }}</b></td>
          <td><b>{{ babel.format_currency(total_payement, "EUR") }}</b></td>
          <td><b>{{ _("") }}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modals -->

<!-- Edit pceen discontent modal -->
<div
  class="modal fade"
  id="mo-pceen-edit"
  tabindex="-1"
  aria-labelledby="mo-pceen-edit"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="mo-pceen-edit"
        >
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="{{ _('Fermer') }}"
        ></button>
      </div>
      <form
        action=""
        method="post"
        role="form"
      >
        {{ form_discontent.hidden_tag() }}
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_discontent.discontent) }}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Annuler") }}
            </button>
            {{ form_discontent.modify(class="btn btn-primary") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
