{% extends "base.html" %} {% import "_form.html" as wtf %} 
{% block scripts %} 

{{ super() }} 
<script src="{{url_for("static", filename="js/sort-table.js") }}" defer>
 </script>
<script src="{{url_for("static", filename="js/club_q/salles.js") }}" defer>
</script>
{% endblock %}

{% block app_content %} {% include 'club_q/common.html'
%}

<div class="container mb-3">
  <div class="btn-toolbar justify-content-between">
    <h4>{{ _("Salles : ")}}</h4>
    {% if has_permission(PermissionType.write, PermissionScope.club_q) %}
    <div
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      title="{{ _('Ajouter une salle') }}"
    >
      <button
        type="button"
        class="btn btn-success"
        data-bs-target="#mo-salle-add"
        data-bs-toggle="modal"
      >
        <svg
          class="bi flex-shrink-0"
          width="24"
          height="24"
          role="img"
        >
          {{ macros.bootstrap_icon("plus-circle") }}
        </svg>
      </button>
    </div>
    {% endif %}
  </div>
</div>

<div class="row mb-3">
  <div class="col table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col" onclick="sort('id');">
            <span class="d-flex user-select-none">
              <span>{{ _("ID") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-id">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('name');">
            <span class="d-flex user-select-none">
              <span>{{ _("Salle") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-name">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('nbspectacles');">
            <span class="d-flex user-select-none">
              <span>{{ _("Spects.") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-nbspectacles">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('description');">
            <span class="d-flex user-select-none">
              <span>{{ _("Description") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-description">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('site');">
            <span class="d-flex user-select-none">
              <span>{{ _("Site internet") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-site">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('address');">
            <span class="d-flex user-select-none">
              <span>{{ _("Adresse") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-address">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('latitude');">
            <span class="d-flex user-select-none">
              <span>{{ _("Latitude") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-latitude">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('lontitude');">
            <span class="d-flex user-select-none">
              <span>{{ _("Latitude") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-lontitude">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          {% if has_permission(PermissionType.write, PermissionScope.club_q) %}
          <th scope="col">
            <span class="d-flex user-select-none">
              <span>
                <svg class="bi flex-shrink-0" width="22" height="22">{{ macros.bootstrap_icon("wrench") }}</svg>
              </span>
            </span>
          </th>
          {% endif %}
        </tr>
      </thead>
      <tbody id="sort-table">
        {% for i in size %}
        <tr
          data-id="{{ str(salles[i].id).rjust(5, '0') }}"
          data-name="{{ salles[i].nom }}"
          data-nbspectacles="{{ str(nb_spectacles[i]).rjust(6, '0') }}"
          data-description="{{ salles[i].description }}"
          data-site="{{ salles[i].url }}"
          data-address="{{ salles[i].adresse }}"
          data-latitude="{{ str(salles[i].latitude).rjust(6, '0') }}"
          data-longitude="{{ str(salles[i].longitude).rjust(6, '0') }}"
        >
          <td onclick="window.location='{{ url_for('club_q.salle_id', id=salles[i].id) }}';">{{ salles[i].id }}</td>
          <td onclick="window.location='{{ url_for('club_q.salle_id', id=salles[i].id) }}';">{{ salles[i].nom }}</td>
          <td>{{nb_spectacles[i]}}</td>
          <td onclick="window.location='{{ url_for('club_q.salle_id', id=salles[i].id) }}';">{{ salles[i].description }}</td>
          <td><a href="{{ salles[i].url }}">{{ salles[i].url }}</a></td>
          <td><a href="https://www.openstreetmap.org/search?query={{ salles[i].adresse }}">{{salles[i].adresse}}</a></td>
          <td>{{ salles[i].latitude }}</td>
          <td>{{ salles[i].longitude }}</td>
          {% if has_permission(PermissionType.write, PermissionScope.club_q) %}
          <td>
            <button
              class="btn btn-outline-danger p-1 pt-0"
              data-bs-target="#mo-salle-edit"
              data-bs-toggle="modal"
              data-salle-id="{{ salles[i].id }}"
              data-salle-nom="{{ salles[i].nom }}"
              data-salle-description="{{ salles[i].description }}"
              data-salle-url = "{{ salles[i].url }}"
              data-salle-adresse = "{{ salles[i].adresse }}"
              data-salle-latitude = "{{ salles[i].latitude }}"
              data-salle-longitude = " {{ salles[i].longitude }}"
            >
              <svg class="bi flex-shrink-0" width="18" height="18">{{ macros.bootstrap_icon("pen") }}</svg>
            </button>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>






<!-- Modals -->

<!-- Edit salle modal -->
<div
  class="modal fade"
  id="mo-salle-edit"
  tabindex="-1"
  aria-labelledby="mo-salle-edit"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="mo-saison-edit"
        >
          {{ _("Editer salle ID") }} {{"{salle_id}"}} - {{"{salle_nom}"}}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="{{ _('Fermer') }}"
        ></button>
      </div>
      <form
        action=""
        method="post"
        role="form"
      >
        {{ form_salle.hidden_tag() }}
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.nom) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.description, maxlength=2500) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.url) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.adresse) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.latitude) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.longitude) }}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Annuler") }}
            </button>
            {{ form_salle.delete(class="btn btn-danger") }} {{ form_salle.modify(class="btn btn-primary") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Salle add modal -->
<div
  class="modal fade"
  id="mo-salle-add"
  tabindex="-1"
  aria-labelledby="mo-salle-add"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="mo-salle-add"
        >
          {{_('Ajouter une salle')}}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="{{ _('Fermer') }}"
        ></button>
      </div>
      <form
        action=""
        method="post"
        role="form"
      >
        {{ form_salle.hidden_tag() }}
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.nom) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.description, maxlength=2500) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.url) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.adresse) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.latitude , value = 0)}}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_salle.longitude , value = 0)}}</div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Annuler") }}
            </button>
            {{ form_salle.add(class="btn btn-primary") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
