{% extends "base.html" %} {% import "_form.html" as wtf %} {% block scripts %} {{ super() }}
<script
  src='{{url_for("static", filename="js/sort-table.js") }}'
  defer
></script>
<script
  src='{{url_for("static", filename="js/club_q/spectacles.js") }}'
  defer
></script>
{% endblock %} {% block app_content %} {% include 'club_q/common.html' %}
<div class="container mb-3">
  <div class="btn-toolbar justify-content-between">
    <h4>{{ _("Spectacles : ")}}</h4>
    {% if has_permission(PermissionType.write, PermissionScope.club_q) %}
    <div
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      title="{{ _('Ajouter une salle') }}"
    >
      <button
        type="button"
        class="btn btn-success"
        data-bs-target="#mo-spectacle-add"
        data-bs-toggle="modal"
      >
        <svg
          class="bi flex-shrink-0"
          width="24"
          height="24"
          role="img"
        >
          {{ macros.bootstrap_icon("plus-circle") }}
        </svg>
      </button>
    </div>
    {% endif %}
  </div>
</div>

<div class="row mb-3">
  <div class="col table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th
            scope="col"
            onclick="sort('id');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("ID") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-id"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('name');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Spectacle") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-name"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('salle');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Salle") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-salle"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('category');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Catégorie") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-category"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('date');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Date") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-date"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('price');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Prix") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-price"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          {% if has_permission(PermissionType.write, PermissionScope.club_q) %}
          <th
            scope="col"
            onclick="sort('nbvoeux');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Vx.") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-nbvoeux"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('tickets');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Pl.") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-tickets"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('asked');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Dem.") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-asked"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('given');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Att.") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-given"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th
            scope="col"
            onclick="sort('rest');"
          >
            <span class="d-flex user-select-none">
              <span>{{ _("Rst.") }}</span>
              <span class="mx-auto">
                <svg
                  class="bi flex-shrink-0"
                  width="16"
                  height="16"
                  id="sort-svg-rest"
                >
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>

          <th scope="col">
            <span class="d-flex user-select-none">
              <span>
                <svg
                  class="bi flex-shrink-0"
                  width="22"
                  height="22"
                >
                  {{ macros.bootstrap_icon("wrench") }}
                </svg>
              </span>
            </span>
          </th>
          {% endif %}
        </tr>
      </thead>
      <tbody id="sort-table">
        {% for i in size %} {% if spectacles[i]._season_id == season_id %}
        <tr
          data-id="{{ str(spectacles[i].id).rjust(5, '0') }}"
          data-name="{{ spectacles[i].nom }}"
          data-salle="{{ spectacles[i].salle.nom }}"
          data-category="{{ spectacles[i].categorie }}"
          data-date="{{ spectacles[i].date }}"
          data-price="{{ str(spectacles[i].unit_price).rjust(5, '0') }}"
          data-tickets="{{ str(spectacles[i].nb_tickets).rjust(5, '0') }}"
          data-nbvoeux="{{ str(spect_nb_voeux[i]).rjust(5, '0') }}"
          data-asked="{{ str(spectacles[i].sum_places_demandees).rjust(5, '0') }}"
          data-given="{{ str(spectacles[i].sum_places_attribuees).rjust(5, '0') }}"
          data-rest="{{ str(spectacles[i].nb_tickets - spectacles[i].sum_places_attribuees).rjust(5, '0') }}"
        >
          <td onclick="window.location='{{ url_for('club_q.spectacle_id', id=spectacles[i].id) }}';">
            {{ spectacles[i].id }}
          </td>
          <td onclick="window.location='{{ url_for('club_q.spectacle_id', id=spectacles[i].id) }}';">
            <p class="overflow no_extra">{{ spectacles[i].nom }}</p>
          </td>
          <td onclick="window.location='{{ url_for('club_q.salle_id', id=spectacles[i]._salle_id) }}';">
            <p class="overflow no_extra">{{ spectacles[i].salle.nom }}</p>
          </td>
          <td>{{ spectacles[i].categorie }}</td>
          <td>{{ spectacles[i].date}}</td>
          <td>{{ babel.format_currency(spectacles[i].unit_price, "EUR") }}</td>
          {% if has_permission(PermissionType.write, PermissionScope.club_q) %}
          <td>{{ spect_nb_voeux[i] }}</td>
          <td>{{ spectacles[i].nb_tickets }}</td>
          <td>{{ spectacles[i].sum_places_demandees}}</td>
          <td>{{ spectacles[i].sum_places_attribuees}}</td>
          <td>{{ spectacles[i].nb_tickets - spectacles[i].sum_places_attribuees}}</td>
          <td>
            <button
              class="btn btn-outline-danger p-1 pt-0"
              data-bs-target="#mo-spectacle-edit"
              data-bs-toggle="modal"
              data-spectacle-id="{{ spectacles[i].id }}"
              data-spectacle-nom="{{ spectacles[i].nom}}"
              data-salle-id="{{ spectacles[i]._salle_id}}"
              data-salle-nom="{{ spectacles[i].salle.nom }}"
              data-saison-id="{{ spectacles[i]._season_id }}"
              data-saison-nom="{{ spectacles[i].season.nom}}"
              data-spectacle-name="{{ spectacles[i].nom }}"
              data-spectacle-categorie="{{ spectacles[i].categorie }}"
              data-spectacle-description="{{ spectacles[i].description }}"
              data-spectacle-date="{{ spectacles[i].date }}"
              data-spectacle-time="{{ spectacles[i].time }}"
              data-spectacle-nb-tickets="{{ spectacles[i].nb_tickets }}"
              data-spectacle-price="{{ spectacles[i].unit_price}}"
            >
              <svg
                class="bi flex-shrink-0"
                width="18"
                height="18"
              >
                {{ macros.bootstrap_icon("pen") }}
              </svg>
            </button>
          </td>
          {% endif %}
        </tr>

        {% endif %}{% endfor %}
      </tbody>
      <tbody>
        {% if has_permission(PermissionType.write, PermissionScope.club_q) %}
        <tr>
          <td><b>{{ _("Total") }}</b></td>
          <td><b>{{ _("Nb de spectacles : ") }}{{nb_spectacles}}</b></td>
          <td><b>{{ _("-") }}</b></td>
          <td><b>{{ _("-") }}</b></td>
          <td><b>{{ _("-") }}</b></td>
          <td><b>{{ _("-") }}</b></td>
          <td><b>{{ total_nb_voeux }}</b></td>
          <td><b>{{ spect_sum_places }}</b></td>
          <td><b>{{ spect_sum_places_demandees }}</b></td>
          <td><b>{{ spect_sum_places_attribuees }}</b></td>
          <td><b>{{ spect_sum_places - spect_sum_places_attribuees }}</b></td>
          <td><b>{{ _("-") }}</b></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% if has_permission(PermissionType.write, PermissionScope.club_q) %}
<div style="display: flex">
  <a
    class="btn btn-primary"
    style="margin-right: 10px"
    href="{{
  url_for('club_q.spect_export_pdfs', id = season_id) }}"
    target="_blank"
  >
    {{ _("Exporter les PDFs ") }}
  </a>
  <a
    class="btn btn-primary"
    href="{{
  url_for('club_q.spect_export_excels', id = season_id) }}"
    target="_blank"
  >
    {{ _("Exporter les Excels") }}
  </a>
</div>
{% endif %}

<!-- Modals -->

{% include 'club_q/modals/modals_spectacles.html' %} {% endblock %}
