{% extends "base.html" %} {% block app_content %}
{% if has_permission(PermissionType.write, PermissionScope.club_q) %}
<a class="btn btn-primary admin-button"" 
    href="{{ url_for("club_q.admin") }}">
      {{ _("Administration") }}
      
</a>
<br />
<br />
{% endif %}

<div class="row mb-3">
  <div class="col">
    <h3>{{ title }}</h3>
  </div>
</div>

<h4>{{ _("Informations : ")}}</h4>

<ul>
  <li>{{ _("Saison : ")}} {{ spectacle.season.nom}}</li>
  <li>{{ _("Catégorie : ")}} {{ spectacle.categorie}}</li>
  <li>{{ _("Date : ")}} {{ spectacle.date}}</li>
  <li>{{ _("Nombre tickets : ")}} {{ spectacle.nb_tickets}}</li>
  <li>
    {{ _("Prix : ")}} {{ babel.format_currency(spectacle.unit_price, "EUR") }}
  </li>
  <li>{{ _("Places demandées : ")}} {{ spectacle.sum_places_demandees}}</li>
  <li>{{ _("Places attribuées : ")}} {{ spectacle.sum_places_attribuees}}</li>
</ul>

<h4>{{ _("Voeux : ")}}</h4>

<div class="row">
  <div class="col table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">{{ _("ID") }}</th>
          <th scope="col">{{ _("Pcéen") }}</th>
          <th scope="col">{{ _("Priorité") }}</th>
          <th scope="col">{{ _("Demandées") }}</th>
          <th scope="col">{{ _("Minimum") }}</th>
          <th scope="col">{{ _("Attribuées") }}</th>
          <th scope="col">{{ _("Prix total") }}</th>
        </tr>
      </thead>

      <tbody>
        {% for voeu in voeux %}
        <tr
          onclick="window.location='{{ url_for('club_q.user', username=voeu.pceen.username) }}';"
        >
          <td>{{ voeu.id }}</td>
          <td>{{ voeu.pceen.full_name }}</td>
          <td>{{ voeu.priorite }}</td>
          <td>{{ voeu.places_demandees }}</td>
          <td>{{ voeu.places_minimum }}</td>
          <td>{{ voeu.places_attribuees }}</td>
          <td>
            {{ babel.format_currency(spectacle.unit_price *
            voeu.places_attribuees, "EUR") }}
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td><b>{{ _("Total") }}</b></td>
          <td><b>{{ _("-") }}</b></td>
          <td><b>{{ _("-") }}</b></td>
          <td><b>{{ spectacle.sum_places_demandees }}</b></td>
          <td><b>{{ _("-") }}</b></td>
          <td><b>{{ spectacle.sum_places_attribuees }}</b></td>
          <td>
            <b
              >{{
              babel.format_currency(spectacle.unit_price*spectacle.sum_places_attribuees,
              "EUR") }}</b
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  
<br />
<br />
<div style="display: flex;">
    <a class="btn btn-primary " style="margin-right: 10px;"
    href="{{ url_for("club_q.spect_generate_pdf", id = spectacle.id) }}">
      {{ _("Générer le PDF") }}
      </a>
      <a class="btn btn-primary" 
      href="{{ url_for("club_q.spect_generate_excel", id = spectacle.id) }}">
        {{ _("Générer l'Excel") }}
        
      </a>
  </div>
  


  <style>
    /* Putting a red button for administration */
    .admin-button {
      background-color: rgb(195, 0, 0);
      border: 2px solid rgb(99, 0, 0);
    }
    .admin-button:hover {
      background-color: rgb(99, 0, 0);
      border: 2px solid rgb(99, 0, 0);
    }
  </style>

{% endblock %}
