{% extends "base.html" %}
{% import "_form.html" as wtf %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for("static", filename="js/sort-table.js") }}"
        defer></script>
<script src="{{ url_for("static", filename="js/gris-roles.js") }}"
        defer></script>
{% endblock %}

{% block app_content %}

<div class="row mb-3">
    <div class="col">
        <h1>{{ title }}</h1>
    </div>
</div>
<div class="row mb-3"><div class="col table-responsive">
    <form id="security-form" hidden>{{ form.hidden_tag() }}</form>
    <table class="table table-striped table-hover table-bordered"><thead>
        <tr>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('id');">
                    <span>{{ _("ID") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                             id="sort-svg-id">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('name');">
                    <span>{{ _("Rôle") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                             id="sort-svg-name">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('index');">
                    <span>{{ _("Priorité") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                             id="sort-svg-index">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('perms');">
                    <span>{{ _("Permissions") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                             id="sort-svg-perms">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
            <th scope="col">
                <span class="d-flex user-select-none" onclick="sort('users');">
                    <span>{{ _("Nombre de PCéens") }}</span>
                    <span class="mx-auto">
                        <svg class="bi flex-shrink-0" width="16" height="16"
                             id="sort-svg-perms">
                            <!-- Sort button inserted through JS -->
                        </svg>
                    </span>
                </span>
            </th>
        </tr></thead>
        <tbody id="sort-table">
        {% for role in roles %}
        <tr id="{{ role.id }}"
            data-id="{{ str(role.id).rjust(5, '0') }}"
            data-name="{{ role.name }}"
            data-index="{{ role.index }}"
            data-perms="{{ len(role.permissions) }}"
            data-users="{{ len(role.pceens) }}"
        >
            <td>{{ role.id }}</td>
            <td>
                <span class="badge rounded-pill border border-2 d-inline-flex
                             align-items-center px-2 text-{{ "light"
                             if role.is_dark_colored else "dark" }}"
                      style="background-color: #{{ role.color or "ffffff" }}">
                    {{ role.name }}
                </span>
            </td>
            <td>{{ role.index }}</td>
            <td>
                {% for perm in role.permissions %}
                <span class="badge border border-2 border-info d-inline-flex
                             align-items-center px-2 text-dark mx-1 mb-1">
                    <span>{{ perm }}</span>
                    <span>
                        <svg class="bi flex-shrink-0 ms-2" width="15"
                             height="15" onclick="remove_perm(this, {{ role.id
                                }}, {{ perm.id }});" style="cursor: pointer;">
                            {{ macros.bootstrap_icon("x-circle") }}
                        </svg>
                    </span>
                </span>
                {% endfor %}

                <span class="add-role badge rounded-pill d-inline-flex
                             align-items-center px-0 text-dark">
                    <span>&nbsp;</span>
                    <span>
                        <svg class="bi flex-shrink-0" width="15" height="15"
                             style="cursor: pointer;" data-bs-toggle="modal"
                             data-bs-target="#addPermissionModal"
                             data-role-id="{{ role.id }}"
                             data-role-name="{{ role.name }}">
                            {{ macros.bootstrap_icon("plus-circle") }}
                        </svg>
                    </span>
                </span>

            </td>
            <td>{{ len(role.pceens) }}</td>
        </tr>
        {% endfor %}
    </tbody></table>
</div></div>

<!-- Icons templates -->
<div hidden>
    <div id="icon-template-down">
        {{ macros.bootstrap_icon("caret-down-fill") }}
    </div>
    <div id="icon-template-up">
        {{ macros.bootstrap_icon("caret-up-fill") }}
    </div>
    <div id="icon-revert">
        {{ macros.bootstrap_icon("arrow-counterclockwise") }}
    </div>
    <div id="icon-delete">
        {{ macros.bootstrap_icon("x-circle") }}
    </div>
    <div id="new-perm-template">
        <span class="badge rounded-pill border border-2 d-inline-flex
                     align-items-center px-2 text-dark mx-1">
            <span class="perm_name"></span>
            <span>
                <svg class="bi flex-shrink-0 ms-2" width="15" height="15"
                     style="cursor: pointer;">
                    {{ macros.bootstrap_icon("x-circle") }}
                </svg>
            </span>
        </span>
    </div>
</div>

<!-- Add permission modal -->
<div class="modal fade" id="addPermissionModal" tabindex="-1" aria-labelledby="aPMLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
    <form id="add-perm-form">
        <div class="modal-header">
            <h5 class="modal-title" id="aPMLabel">{{ _("Nouvelle permission") }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                {{ _("Rôle :") }} <strong class="pem-role-name"></strong>
                <input type="hidden" class="pem-role-id" name="role_id">
            </div>
            <div class="mb-3">
                {{ _("Type :") }}
                {% for type_ in PermissionType %}
                    <input type="radio" class="btn-check" name="type_name" value="{{ type_.name }}" id="type-{{ type_.name }}" autocomplete="off" required>
                    <label class="btn btn-outline-success mb-1" for="type-{{ type_.name }}">{{ type_.name }}</label>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ _("Scope :") }}
                {% for scope in PermissionScope %}
                    <input type="radio" class="btn-check" name="scope_name" value="{{ scope.name }}" id="scope-{{ scope.name }}" autocomplete="off" onchange="get_elements(this, '{{ scope.name }}')" required>
                    <label class="btn btn-outline-success mb-1" for="scope-{{ scope.name }}">{{ scope.name }}</label>
                {% endfor %}
            </div>
            <div class="mb-3 container m-0">
                <div class="row">
                    <div class="col-auto px-0 my-auto">
                        {{ _("Élément :") }}
                    </div>
                    <div class="col" id="new_perm-elements">
                        <select class="form-select" name="ref_id" disabled></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Fermer") }}</button>
            <button type="submit" class="btn btn-primary">{{ _("Ajouter") }}</button>
        </div>
    </form>
</div>
</div>
</div>

{% endblock %}
