{% extends "mails_base.html" %} {% block app_content %}

<div class="row mb-3">
  <div class="col">
    <h2>{{ _("Réservations places Club Q %(nom)s", nom=saison.nom) }}</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>{{ _("Bonjour %(name)s,", name=pceen.prenom) }}</p>
    <p>
      {{ _("L'attribution de places pour cette saison du Club Q a été effectuée et tu peux retrouver les places qui
      t'ont été attribuées sur ")}}
      <a href="https://pc-est-magique.fr/club_q/pceens/{{pceen.id}}">{{ _("ta page personnelle") }}</a>.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>
      {{ _("Concernant le paiement, merci de le faire avant le %(date_here)s pour faciliter le travail du trésorier du
      Club Q. Deux moyens de paiement sont possibles :", date_here=date) }}
    </p>
    <ul class="mb-4">
      <li>
        {{ _("Par chèque à l’ordre du « BDE Physique Chimie Paris Club Q » (une enveloppe dédiée est accrochée au mur du
        foyer). Au dos mets-y <b>Prénom-Nom-Promo-Saison/spectacles</b>.") }}
      </li>
      <li>
        {{ _("Par virement bancaire, avec les mêmes informations que les chèques (Prénom Nom Promo Saison). La référence
        du virement est super importante sinon on s’y retrouve plus ! C’est le BDE qui se récolte la compta des
        virements, alors on préfère les chèques.") }}
      </li>
    </ul>
    <img
      src="{{rib}}"
      alt="{{_('RIB Club Q')}}"
      class="img-thumbnail"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <p>{{ _("Très bonne journée,") }}</p>
    <p>{{ _("Le Club Q") }}</p>
  </div>
</div>

{% endblock %}
