{# Account card - used variables: pceen #}
{% extends "cards/base.html" %}

{% block card_title %}
{{ _("Compte") }}
{% endblock %}

{% block card_icon %}
{{ macros.bootstrap_icon("person-badge") }}
{% endblock %}

{% block card_table %}
<tr>
    <th scope="row" class="ps-4">{{ _("Identifiant") }}</th>
    <td>{{ pceen.username }}</td>
</tr>
<tr>
    <th scope="row" class="ps-4">{{ _("Nom") }}</th>
    <td class="text-break">{{ pceen.nom }}</td>
</tr>
<tr>
    <th scope="row" class="ps-4">{{ _("Prénom") }}</th>
    <td class="text-break">{{ pceen.prenom }}</td>
</tr>
<tr>
    <th scope="row" class="ps-4">{{ _("Promotion") }}</th>
    <td>{{ pceen.promo or "-" }}</td>
</tr>
<tr>
    <th scope="row" class="ps-4">{{ _("Email") }}</th>
    <td class="text-break">
        <a href="mailto:{{ pceen.email }}" class="text-dark">{{ pceen.email }}</a>
    </td>
</tr>
{% if pceen.espci_email != None %}
<tr>
    <th scope="row" class="ps-4">{{ _("Email ESPCI") }}</th>
    <td class="text-break">
        <a href="mailto:{{ pceen.espci_email }}" class="text-dark">{{ pceen.espci_email }}</a>
    </td>
</tr>   
{% else  %}
<tr>
    <th scope="row" class="ps-4">{{ _("Email ESPCI") }}</th>
    <td class="text-break">
        <p> Pas de compte ESPCI associé</p>
    </td>
</tr>
{% endif %}
<tr>
    <th scope="row" class="ps-4">{{ _("Rôles") }}</th>
    <td>{{ pceen.all_roles | join(", ") }}</td>
</tr>
{% endblock %}

{% block card_footer %}
<div class="d-flex flex-wrap gap-3">
    <a class="btn {{ 'btn-outline-dark' if g.theme == 'classic' else 'btn-primary' }} position-relative"
       href="{{ url_for("profile.modify_account", doas=doas,
                        next=request.url_rule.endpoint) }}">
        {{ _("Modifier une information") }}
    </a>
    <a class="btn {{ 'btn-outline-dark' if g.theme == 'classic' else 'btn-primary' }} position-relative"
       href="{{ url_for("profile.update_password", doas=doas,
                        next=request.url_rule.endpoint) }}">
        {{ _("Changer de mot de passe") }}
    </a>
</div>
{% endblock %}