{# Club Q card - used variable brochure (dabatase query)#} {% extends "cards/base.html" %} {% block card_head %}

<canvas
  id="{{brochure.id}}"
  onclick="window.location='{{ url_for('club_q.brochure_reader', id=brochure.id) }}';"
></canvas>

{% endblock %} {% block card_body %}
<div class="card-body">
  <h4 class="card-title">{{ brochure.season.nom }}</h4>
</div>
{% endblock %} {% block card_footer_class %}{{ super() }} px-auto{% endblock %} {% block card_footer %}
<div style="display: flex; justify-content: space-between; align-items: center">
  <a
    href="{{ url_for('club_q.brochure_reader', id=brochure.id) }}"
    class="btn btn-outline-dark"
  >
    {{ _("Lire") }}
  </a>

  <a
    role="button"
    href="{{brochure.pdf_src_with_token}}"
    download="{{brochure.id}}.pdf"
    class="btn btn-outline-dark"
  >
    {{ _("Télécharger (PDF)") }}
  </a>

  {% if can_edit %}
  <a
    role="button"
    href="{{ url_for('club_q.brochure_delete', id=brochure.id) }}"
    class="btn btn-danger"
  >
    {{_("Supprimer")}}
  </a>
  {% endif %}
</div>

{% endblock %}
