{# Panier Bio card - used variables: panier_bio_infos #} {% extends "cards/base.html" %} {% block card_title %} {{
_("Panier Bio") }} {% endblock %} {% block card_icon %} {{ macros.bootstrap_icon("basket") }} {%
endblock %} {% block card_table %}
<tr>
  <td class="p-3 text-center">
    {{ _("Le panier bio est maintenant disponible sur") }} <a href="https://www.helloasso.com/associations/pc-durable-pcd" target="_blank" rel="noopener noreferrer">HelloAsso</a> !
  </td>
</tr>
{% endblock %} {% block card_footer %}
<a
  href="https://www.helloasso.com/associations/pc-durable-pcd"
  target="_blank" rel="noopener noreferrer"
  class="btn {{ 'btn-outline-dark' if g.theme == 'classic' else 'btn-primary' }}"
>
  {{ _("Réserver") }}
</a>
{% endblock %}
