{# Panier Bio card - used variables: panier_bio_infos #} {% extends "cards/base.html" %} {% block card_title %} {{
_("Panier Bio") }} {{ macros.badge() }} {% endblock %} {% block card_icon %} {{ macros.bootstrap_icon("basket") }} {%
endblock %} {% block card_table %}
<tr>
  <th
    scope="row"
    class="ps-4 text-nowrap"
  >
    {{ _("Prochain jour") }}
  </th>
  <td>{{ panier_bio_infos.next_day }}</td>
</tr>
<tr>
  <th
    scope="row"
    class="ps-4 text-nowrap"
  >
    {{ _("Réservé?") }}
  </th>
  <td>
    {% if panier_bio_infos.reserved %}
    <svg
      class="bi flex-shrink-0"
      style="color: green"
      width="24"
      height="24"
      role="img"
    >
      {{ macros.bootstrap_icon("check-lg") }}
    </svg>

    {% else %}
    <svg
      class="bi flex-shrink-0"
      style="color: red"
      width="24"
      height="24"
      role="img"
    >
      {{ macros.bootstrap_icon("x-lg") }}
    </svg>
    {% endif %}
  </td>
</tr>
{% endblock %} {% block card_footer %} {% if panier_bio_infos.visibility and not panier_bio_infos.reserved %}
<a
  href="{{ url_for('panier_bio.main') }}"
  class="btn btn-outline-dark"
>
  {{ _("Réserver") }}
</a>
{% else %}
<a
  href="{{ url_for('panier_bio.main') }}"
  class="btn btn-outline-dark"
>
  {{ _("Voir l'historique") }}
</a>
{% endif %} {% endblock %}
