{# Profile card - used variables: pceen #}
{% extends "cards/base.html" %}

{% block card_title %}
{{ _("Mon profil") }}
{% endblock %}

{% block card_icon %}
{{ macros.bootstrap_icon("person-badge") }}
{% endblock %}

{% block card_body %}
<div class="d-flex flex-column justify-content-center gap-4 h-100 px-3 pb-3 pt-2">
    
    <!-- Nom -->
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
            <svg class="bi flex-shrink-0" width="16" height="16" fill="currentColor">{{ macros.bootstrap_icon("person-fill") }}</svg>
            <span class="fw-bold">{{ pceen.username }}</span>
        </div>
        <span class="text-body text-truncate ms-3 text-end">{{ pceen.full_name }}</span>
    </div>

    <!-- Chambre -->
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
            <svg class="bi" width="16" height="16" fill="currentColor">{{ macros.bootstrap_icon("door-closed-fill") }}</svg>
            <span class="fw-bold">{{ _("Chambre") }}</span>
        </div>
        <span class="text-body">{{ pceen.current_room.num if pceen.current_room else "N/A" }}</span>
    </div>


    <!-- Rôles -->
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2 flex-shrink-0">
            <svg class="bi" width="16" height="16" fill="currentColor">{{ macros.bootstrap_icon("shield-lock-fill") }}</svg>
            <span class="fw-bold">{{ _("Rôles") }}</span>
        </div>
        <span class="text-body text-end ms-3">
            {{ pceen.all_roles | join(", ") }}
        </span>
    </div>

</div>
{% endblock %}

{% block card_footer %}
<a href="{{ url_for('profile.main') }}" class="btn {{ 'btn-outline-dark' if g.theme == 'classic' else 'btn-primary' }}">
    {{ _("Voir mon profil") }}
</a>
{% endblock %}
