<!-- Edit Spectacle modal -->
<div
  class="modal fade"
  id="mo-spectacle-edit"
  tabindex="-1"
  aria-labelledby="mo-spectacle-edit"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="mo-saison-edit"
        >
          {{ _("Editer spectacle ID") }} {{"{spectacle_id}"}} - {{"{spectacle_nom}"}} - {{salle_nom}} - {{ saison_nom }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="{{ _('Fermer') }}"
        ></button>
      </div>
      <form
        action=""
        method="post"
        role="form"
        enctype="multipart/form-data"
      >
        {{ form_spectacle.hidden_tag() }}
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.nom) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.salle_id) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.categorie) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.description, maxlength=2500) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.date) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.time) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.nb_tickets) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.price) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ _("Image : ")}} <br />{{ wtf.form_field(form_spectacle.image) }}</div>
            </div>
            {% if form_spectacle.image.errors %}
            <small class="form-text text-danger">{{ form_spectacle.image.errors[0] }}</small>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Annuler") }}
            </button>
            {{ form_spectacle.delete(class="btn btn-danger") }} {{ form_spectacle.modify(class="btn btn-primary") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Spectacle add modal -->
<div
  class="modal fade"
  id="mo-spectacle-add"
  tabindex="-1"
  aria-labelledby="mo-spectacle-add"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title"
          id="mo-spectacle-add"
        >
          {{_('Ajouter un spectacle')}}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="{{ _('Fermer') }}"
        ></button>
      </div>
      <form
        action=""
        method="post"
        role="form"
        enctype="multipart/form-data"
      >
        {{ form_spectacle.hidden_tag() }}
        <div class="modal-body">
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.nom) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.salle_id) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.categorie) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.description, maxlength=2500) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.date) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.time) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.nb_tickets) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ wtf.form_field(form_spectacle.price) }}</div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">{{ _("Image : ")}} <br />{{ wtf.form_field(form_spectacle.image) }}</div>
            </div>
            {% if form_spectacle.image.errors %}
            <small class="form-text text-danger">{{ form_spectacle.image.errors[0] }}</small>
            {% endif %}
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              {{ _("Annuler") }}
            </button>
            {{ form_spectacle.add(class="btn btn-primary") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
