{% extends "base.html" %}

{% block app_content %}

    <div class="row mb-3">
        <div class="col">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row"><p>
        {{ _("Ces notes de mise à jour présentent les modifications "
             "principales du point de vue utilisateur. Pour un changelog "
             "plus technique, voir") }}
        <a href="https://github.com/GRI-ESPCI/pc-est-magique/blob/main/CHANGELOG.md">
            {{ _("sur GitHub") }}</a>.
    </p></div>
    <div class="row mb-2">
        <h4>v0.2 – {{ moment(datetime.date(2022, 3, 8)).format("L") }}</h4>
        <p>{{ _("Première version publique : photos et permissions.") }}</p>
    </div>

{% endblock %}
