{% extends "base.html" %}

{% block app_content %}

<div class="row mb-3">
    <div class="col">
        <h1>{{ _("Bonjour, %(name)s !", name=g.pceen.prenom) }}</h1>
    </div>
</div>
<div class="row">
    <div class="col"><p>
        {{ _("Bienvenue sur PC est magique ! Ce nouveau portail a pour ambition de réunir le maximum de services "
             "informatiques des PCéens (élèves et alumni, mais aussi locataires de la Rez, dans le futur doctorants "
             "etc) : photos, site du Bar, accès à Internet à la Rez (ancien IntraRez), les commandes du Club Q, "
             "et plein d'autres choses...") }}
    </p></div>
</div>

<div class="row mb-3">
    <div class="col"><p>
        {{ _("Une idée, un commentaire ? N'hésitez pas à ") }}
        <a href="{{ url_for("main.contact") }}">{{ _("nous en faire part") }}
        </a> !
    </p></div>
</div>

<div class="row row-cols row-cols-xl-3 gy-4 gx-1">
    {% with pceen = g.pceen %}
    <div class="col">
        {% include "cards/profile.html" %}
    </div>
    {% if has_permission(PermissionType.read, PermissionScope.bar) %}
    <div class="col">
        {% include "cards/bar.html" %}
    </div>
    {% endif %}
    {% if has_permission(PermissionType.read, PermissionScope.photos) %}
    <div class="col">
        {% include "cards/photos.html" %}
    </div>
    {% endif %}
    {% if has_permission(PermissionType.read, PermissionScope.intrarez) %}
    <div class="col">
        {% include "cards/subscription.html" %}
    </div>
    {% endif %}
    {% if has_permission(PermissionType.read, PermissionScope.club_q) %}
    <div class="col">
        {% include "cards/club_q_accueil.html" %}
    </div>
    {% endif %}
    {% if has_permission(PermissionType.read, PermissionScope.bekk) %}
    <div class="col">
        {% include "cards/bekk_accueil.html" %}
    </div>
    {% endif %}
    <div class="col">
        {% include "cards/panier_bio.html" %}
    </div>
    {% endwith %}
    <div class="col">
        {% include "cards/coming_soon.html" %}
    </div>
</div>

{% endblock %}
