{% extends "base.html" %} {% import "_form.html" as wtf %} {% block app_content %} {% include 'club_q/admin/common.html'
%}

<h4>{{ _("Spectacles : ")}}</h4>

<div class="row mb-3">
  <div class="col table-responsive">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col" onclick="sort('id');">
            <span class="d-flex user-select-none">
              <span>{{ _("ID") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-id">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('name');">
            <span class="d-flex user-select-none">
              <span>{{ _("Spectacle") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-name">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('salle');">
            <span class="d-flex user-select-none">
              <span>{{ _("Salle") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-salle">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('category');">
            <span class="d-flex user-select-none">
              <span>{{ _("Catégorie") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-category">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('date');">
            <span class="d-flex user-select-none">
              <span>{{ _("Date") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-date">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('price');">
            <span class="d-flex user-select-none">
              <span>{{ _("Prix") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-price">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('tickets');">
            <span class="d-flex user-select-none">
              <span>{{ _("Nbr.") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-tickets">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('asked');">
            <span class="d-flex user-select-none">
              <span>{{ _("Dem.") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-asked">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('given');">
            <span class="d-flex user-select-none">
              <span>{{ _("Att.") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-given">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col" onclick="sort('rest');">
            <span class="d-flex user-select-none">
              <span>{{ _("Rst.") }}</span>
              <span class="mx-auto">
                <svg class="bi flex-shrink-0" width="16" height="16" id="sort-svg-rest">
                  <!-- Sort button inserted through JS -->
                </svg>
              </span>
            </span>
          </th>
          <th scope="col">
            <span class="d-flex user-select-none">
              <span>
                <svg class="bi flex-shrink-0" width="22" height="22">{{ macros.bootstrap_icon("pen") }}</svg>
              </span>
            </span>
          </th>
        </tr>
      </thead>
      <tbody id="sort-table">
        {% for spect in spectacles %} {% if spect._season_id == season_id %}
        <tr
          data-id="{{ str(spect.id).rjust(5, '0') }}"
          data-name="{{ spect.nom }}"
          data-salle="{{ spect.salle.nom }}"
          data-category="{{ spect.categorie }}"
          data-date="{{ spect.date }}"
          data-price="{{ str(spect.unit_price).rjust(5, '0') }}"
          data-tickets="{{ str(spect.nb_tickets).rjust(5, '0') }}"
          data-asked="{{ str(spect.sum_places_demandees).rjust(5, '0') }}"
          data-given="{{ str(spect.sum_places_attribuees).rjust(5, '0') }}"
          data-rest="{{ str(spect.nb_tickets - spect.sum_places_attribuees).rjust(5, '0') }}"
        >
          <td onclick="window.location='{{ url_for('club_q.spectacle', id=spect.id) }}';">{{ spect.id }}</td>
          <td onclick="window.location='{{ url_for('club_q.spectacle', id=spect.id) }}';">
            <p class="overflow no_extra">{{ spect.nom }}</p>
          </td>
          <td><p class="overflow no_extra">{{ spect.salle.nom }}</p></td>
          <td>{{ spect.categorie }}</td>
          <td>{{ moment(spect.date).format('DD/MM/YYYY HH:mm:ss') }}</td>
          <td>{{ babel.format_currency(spect.unit_price, "EUR") }}</td>
          <td>{{ spect.nb_tickets }}</td>
          <td>{{ spect.sum_places_demandees}}</td>
          <td>{{ spect.sum_places_attribuees}}</td>
          <td>{{ spect.nb_tickets - spect.sum_places_attribuees}}</td>
          <td>
            <button
              class="btn btn-outline-danger p-1 pt-0"
              data-bs-target="#mo-spect-edit"
              data-bs-toggle="modal"
              data-spect-id="{{ spect.id }}"
              data-spect-name="{{ spect.nom }}"
            >
              <svg class="bi flex-shrink-0" width="18" height="18">{{ macros.bootstrap_icon("pen") }}</svg>
            </button>
          </td>
        </tr>
        {% endif %}{% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
