/* Magazine stylesheet */

.bottom-margin {
  margin-bottom: 30px;
}

#magazine{
  margin: 0 auto
}

#magazine .turn-page {
  background-color: #ccc;
}

#page-navigation {
  text-align: center; /* Center-align the button container */
  margin-top: 10px; /* Add some spacing between the magazine and buttons */
}

#page-navigation button {
  margin: 5px; /* Add margin around each button */
}
