<!-- Bekk navbar -->
<div class="container mb-3">
  <div
    class="btn-toolbar justify-content-between"
    role="toolbar"
  >
    <div class="d-flex align-items-center">
      <div
        class="btn-group"
        role="group"
        name="saison_navbar"
      >
        <a
          role="button"
          href="{{ url_for('bekk.main')}}"
          class="btn {{ 'btn-primary' if view_promo == promo else 'btn-outline-primary' }}"
          >{{_("Le Bekk du moment !")}}</a
        >
        {% for promo in promos %}
        <a
          role="button"
          href="{{ url_for('bekk.list_promo', promo=promo)}}"
          class="btn {{ 'btn-primary' if view_promo == promo else 'btn-outline-primary' }}"
          >{{promo}}</a
        >
        {% endfor %}
      </div>
    </div>
  </div>
</div>
