{% extends "base.html" %} {% import "_form.html" as wtf %} {% block scripts %} {{ super() }}
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/jquery.js') }}"
></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/turn.js') }}"
></script>
{% endblock %} {% block styles %}{{ super() }}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/bekk.css') }}"
/>
{% endblock %} {% block app_content %}
<body text-align:center>
  <div id="magazine">
    {% for i in pages %}
    <div
      style="background-image:url('/bekks/{{bekk.promo}}/{{bekk.name}}/{{bekk.name}}_{{bekk.promo}}_{{i}}.png');"
    ></div>
    {% endfor %}
  </div>

  <div id="page-navigation">
    <button
      type="button"
      class="btn btn-secondary"
      id="go-to-first"
    >
      <svg
        class="bi flex-shrink-0"
        width="24"
        height="24"
      >
        {{ macros.bootstrap_icon("skip-start-fill ") }}
      </svg>
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      id="previous-page"
    >
      <svg
        class="bi flex-shrink-0"
        width="24"
        height="24"
      >
        {{ macros.bootstrap_icon("caret-left-fill") }}
      </svg>
    </button>
    <button
      class="btn btn-secondary"
      type="button"
      id="next-page"
    >
      <svg
        class="bi flex-shrink-0"
        width="24"
        height="24"
      >
        {{ macros.bootstrap_icon("caret-right-fill") }}
      </svg>
    </button>
    <button
      class="btn btn-secondary"
      type="button"
      id="go-to-last"
    >
      <svg
        class="bi flex-shrink-0"
        width="24"
        height="24"
      >
        {{ macros.bootstrap_icon("skip-end-fill ") }}
      </svg>
    </button>
  </div>
  <div id="page-navigation">
    <a
      role="button"
      href="{{ url_for('bekk.main') }}"
      class="btn btn-primary"
    >
      {{ _("Retour aux bekks ") }}
    </a>

    <a
      role="button"
      href="/bekks/{{bekk.promo}}/{{bekk.name}}/{{bekk.name}}_{{bekk.promo}}.pdf"
      download="{{bekk.name}}-{{bekk.promo}}.pdf"
      class="btn btn-primary"
    >
      {{ _("Télécharger (PDF)") }}
    </a>
  </div>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='js/bekk/reader.js') }}"
  ></script>
</body>
{% endblock %}
