{% extends "base.html" %}

{% block app_content %}

<h1>{{ v4a.name }}</h1>

<img class="img-fluid mx-auto d-block" src="{{ url_for('static', filename='img/v4a/'~v4a.id~'.png') }}" alt="[[NO IMAGE]]">

<h2>{{ _("Synopsis") }}</h2>

<p>
    {{ v4a.full_description|safe }}
<p>


<h2>{{ _("Liste des représentations") }}</h2>

<ul>
    {% for rep in v4a.representations %}
        <li>{{ moment(rep.date).format('dddd DD MMMM YYYY')}} - {{ moment(rep.date).format('HH:mm')}}</li>
    {% endfor %}
</ul>

<a href="" class="btn btn-primary">{{ _("Prendre une place") }}</a>

{% endblock %}