{% extends "base.html" %} 

{% block app_content %}

<div class="btn-toolbar justify-content-between mb-3">
  <div class="btn-group" role="group">
    {% for s in saisons %}
      {% if loop.index == 6 %}{% break %}{% endif %}
      {% if s.id == current_saison.id %}
      <a href="{{ url_for('theatre.main', saison_id=s.id)}}" class="btn btn-danger" role="button">{{s.name}}</a>
      {% else %}
      <a href="{{ url_for('theatre.main', saison_id=s.id)}}" class="btn btn-outline-danger" role="button">{{s.name}}</a>
      {% endif %}
    {% endfor %}
    {% if saisons|length >= 6 %}
      <button class="btn btn-danger dropdown-toggle" type="button" id="oldSeasonsBtn" data-bs-toggle="dropdown" aria-expanded="false">
        {{ _("Anciennes saisons") }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="oldSeasonsBtn">
    {% endif %}
    {% for s in saisons %}
      {% if loop.index >= 6 %}
        <li><a href="{{ url_for('theatre.main', saison_id=s.id)}}" class="dropdown-item">{{s.name}}</a></li>
      {% endif %}
    {% endfor%}
    {% if saisons|length >= 6 %}
      </ul>
    {% endif %}
  </div>
  <div data-bs-toggle="tooltip" data-bs-placement="right" title="{{ _('Administration') }}">
    <a href="{{ url_for('theatre.admin') }}" class="btn btn-danger" role="button">
      <svg class="bi flex-shrink-0" width="24" height="24" role="img">
            {{ macros.bootstrap_icon("gear-fill") }}
      </svg>
    </a>
  </div>
</div>

<div class="row mb-3">
  <h1>{{ current_saison.name }}</h1>
  <p>{{ current_saison.description }}</p>
</div>

<div class="row mb-3">
  <p class="text-center">
    <img src="/theatre_posters/saison_{{ current_saison.id }}/saison_{{ current_saison.id }}.{{ current_saison.image_extension }}"
         alt="{{ _('Affiche ') + current_saison.name }}"
         style="max-height: 30em;" >
  </p>
</div>

{% for spect in current_saison.spectacles %}
<div class="row mb-3">
  <hr align="CENTER" />
  <div class="row mb-3">
    <h2>{{ spect.name }}</h2>
    <p>
      <i>
        {{ _("Une pièce écrite par %(author)s et montée par %(director)s", author=spect.author, director=spect.director)
        }}
      </i>
    </p>
    <p align="center">
      <img src="/theatre_posters/saison_{{ spect.saison.id }}/spectacle_{{ spect.id }}.{{ spect.image_extension }}"
           alt="{{ _('Affiche du spectacle ') + spect.name }}"
           style="max-height: 30em;">
    </p>

    <h5>{{ _("Synopsis")}}</h5>
    <p>
      <i> {{ spect.description }} </i>
    </p>

    <h5>{{ _("Représentations :")}}</h5>
    <ul>
      {% for rep in spect.representations %}
      <li>{{moment(rep.date).format('LLLL')}}</li>
      {% endfor %}
    </ul>
    <p>
      {{ _("Billetterie : ") }} {% if not spect.ticket_link %} {{ _("Lien à venir") }} {% else %}
      <a href="{{ spect.ticket_link }}">{{ spect.ticket_link }}</a> {% endif %}
    </p>
    <p>{{ _("Choix des places : ") }} <a href="{{ spect.places }}">{{ spect.places }}</a></p>
  </div>
</div>
{% endfor %} {% endblock %}
