{% extends "base.html" %} {% block styles %}{{ super() }} {% if can_edit %}
<link
  rel="stylesheet"
  type="text/css"
  href='{{url_for("static", filename="css/quill.snow.css") }}'
  rel="stylesheet"
/>

{% endif %} {% endblock %} {% block scripts %} {{ super() }} {% if can_edit %}
<script defer>
  var folder = {{folder |tojson}}
</script>
<script
  src='{{url_for("static", filename="js/quill.js") }}'
  defer
></script>
<script
  src='{{url_for("static", filename="js/wysiwyg_editor.js") }}'
  defer
></script>

{% endif %} {% endblock %} {% block app_content %}

<div class="btn-group" role="group">
  {% for s in saisons %}
    {% if loop.index == 6 %}{% break %}{% endif %}
    {% if s.id == current_saison.id %}
    <a href="{{ url_for('theatre.main', saison_id=s.id)}}" class="btn btn-danger" role="button">{{s.name}}</a>
    {% else %}
    <a href="{{ url_for('theatre.main', saison_id=s.id)}}" class="btn btn-outline-danger" role="button">{{s.name}}</a>
    {% endif %}
  {% endfor %}
  {% if saisons|length >= 6 %}
    <button class="btn btn-danger dropdown-toggle" type="button" id="oldSeasonsBtn" data-bs-toggle="dropdown" aria-expanded="false">
      {{ _("Anciennes saisons") }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="oldSeasonsBtn">
  {% endif %}
  {% for s in saisons %}
    {% if loop.index >= 6 %}
      <li><a href="{{ url_for('theatre.main', saison_id=s.id)}}" class="dropdown-item">{{s.name}}</a></li>
    {% endif %}
  {% endfor%}
  {% if saisons|length >= 6 %}
    </ul>
  {% endif %}
</div>

<p></p>

{% include 'wysiwyg.html' %}

<div class="row mb-3">
  <p align="center">
    <img src="/theatre_posters/aff_saison.jpg", alt="{{ _('Affiche Saison Théâtrale') }}" width="30%" />
  </p>
</div>

{% for spect in current_saison.spectacles %}
<div class="row-mb-3">
  <hr align="CENTER" />
  <div class="row mb-3">
    <h2>{{ spect.name }}</h2>
    <p>
      <i>
        {{ _("Une pièce écrite par %(author)s et montée par %(director)s", author=spect.author, director=spect.director)
        }}
      </i>
    </p>
    <p align="center">
      <img src="/theatre_posters/{{ spect.image_name }}.jpg" width="30%" />
    </p>

    <h5>{{ _("Synopsis")}}</h5>
    <p>
      <i> {{ spect.description }} </i>
    </p>

    <h5>{{ _("Représentations :")}}</h5>
    <ul>
      {% for rep in spect.representations %}
      <li>{{moment(rep.date).format('LLLL')}}</li>
      {% endfor %}
    </ul>
    <p>
      {{ _("Billetterie : ") }} {% if not spect.ticket_link %} {{ _("Lien à venir") }} {% else %}
      <a href="{{ spect.ticket_link }}">{{ spect.ticket_link }}</a> {% endif %}
    </p>
    <p>{{ _("Choix des places : ") }} <a href="{{ spect.places }}">{{ spect.places }}</a></p>
  </div>
</div>
{% endfor %} {% endblock %}
