{% extends "base.html" %}
{% import "_form.html" as wtf %}

{% block styles %}
{{ super() }}
{% for filename in [
    "bower_components/lightgallery/dist/css/lightgallery.css",
    "bower_components/lightgallery/dist/css/lg-zoom.css",
    "bower_components/lightgallery/dist/css/lg-thumbnail.css",
    "bower_components/lightgallery/dist/css/lg-fullscreen.css",
    "_dist/uppy/css/uppy.min.css",
] %}
<link href="{{ url_for("static", filename=filename) }}" rel="stylesheet" />
{% endfor %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% if can_edit %}
<script src="{{ url_for("static", filename="js/photos/edit-form.js") }}" defer></script>
<script src="{{ url_for("static", filename="_dist/uppy/js/uppy.min.js") }}" defer></script>
{% if babel.get_locale().language == "fr" %}
<script src="{{ url_for("static", filename="_dist/uppy/js/fr_FR.min.js") }}" defer></script>
{% endif %}
<script src="{{ url_for("static", filename="js/photos/album-edit.js") }}" defer></script>
{% endif %}
{% for filename in [
    "bower_components/lightgallery/dist/lightgallery.umd.js",
    "bower_components/lightgallery/dist/plugins/zoom/lg-zoom.umd.js",
    "bower_components/lightgallery/dist/plugins/thumbnail/lg-thumbnail.umd.js",
    "bower_components/lightgallery/dist/plugins/fullscreen/lg-fullscreen.umd.js",
    "js/photos/album.js",
    "js/popovers.js",
] %}
<script src="{{ url_for("static", filename=filename) }}" defer></script>
{% endfor %}
{% endblock %}

{% block app_content %}

<div class="row">
    <nav class="col">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ url_for("photos.main") }}">
                {{ _("Photos") }}
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ url_for("photos.collection",
                                collection_dir=album.collection.dir_name) }}">
                {{ album.collection.name }}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ album.name }}
        </li>
    </ol>
    </nav>
</div>

<div class="view-mode-only{{ ' d-none' if is_edit_mode else '' }}">
    <div class="row mb-2">
        <div class="col">
            <p {% if not album.visible %}
               class="text-muted d-flex align-items-center"
               {% endif %}>
                <span class="h1">{{ album.name }}</span>
                {% if not album.visible %}
                <span class="badge bg-danger px-2 py-1 ms-3 d-flex
                             align-items-center">
                    <svg class="bi flex-shrink-0 me-2" width="18" height="18">
                        {{ macros.bootstrap_icon("eye-slash") }}
                    </svg>
                    {{ _("Album masqué") }}
                </span>
                {% endif %}
            </p>
        </div>
        {% if can_edit %}
        <div class="col col-auto d-flex align-items-center"
             title="{{ _("Miniature actuelle") if album.featured
                   else _("Nouvelle miniature de la collection") }}">
            <button role="button"
                    {% if album.featured %}
                    class="btn btn-success pe-none p-2" type="button"
                    {% else %}
                    class="btn btn-outline-success p-2" type="submit"
                    form="modify-form"
                    {% endif %}>
                <svg class="bi flex-shrink-0 text-secondary"
                    width="24" height="24">
                    {{ macros.bootstrap_icon("star") }}
                </svg>
            </button>
        </div>
        <div class="col col-auto me-3 d-flex align-items-center">
            <button class="btn btn-pc5 p-2" type="button" role="button"
                    title="{{ _("Modifier l'album") }}"
                    onclick="enable_edit_mode()">
                <svg class="bi flex-shrink-0 text-secondary"
                    width="24" height="24">
                    {{ macros.bootstrap_icon("pencil") }}
                </svg>
            </button>
        </div>
        {% endif %}
    </div>
    {% if album.description %}
    <div class="row mb-4 fst-italic">
        <div class="col">
            {{ album.description }}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
        <p>
            <span>
                {{ macros.s(album.nb_photos, _("photo")) }}
            </span>
            {% if album.start %}
            <span class="user-select-none mx-2">&middot;</span>
            <span>
                {{ moment(album.start).format("LL") }}
                {% if album.end %}
                – {{ moment(album.end).format("LL") }}
                {% endif %}
            </span>
            {% endif %}
        </p>
        </div>
    </div>
</div>

{% if can_edit %}
<form action="?" method="post" role="form" class="edit-mode-only{{ ' d-none' if not is_edit_mode else '' }}">
    {{ album_form.hidden_tag() }}
    <div class="row mb-3">
        <div class="col">
            <div class="form-floating ">
                {{ wtf.form_field(album_form.name, value=album.name) }}
            </div>
        </div>
        <div class="col col-auto me-3 d-flex align-items-center">
            <button class="btn btn-pc5 p-2" type="button" role="button"
                    title="{{ _("Arrêter de modifier") }}"
                    onclick="disable_edit_mode()">
                <svg class="bi flex-shrink-0 text-secondary"
                     width="24" height="24">
                    {{ macros.bootstrap_icon("x-circle") }}
                </svg>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-md mb-3">
            <div class="form-floating">
                {{ wtf.form_field(album_form.description,
                                  value=album.description or "") }}
            </div>
        </div>
        <div class="col-auto me-4 d-flex align-items-center mb-3">
            <div class="form-check form-switch">
                {{ wtf.form_field(album_form.visible, checked=album.visible) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-12 col-md mb-3">
            <div class="form-floating">
                {{ wtf.form_field(album_form.start, value=album.start or "") }}
            </div>
        </div>
        <div class="col col-12 col-md mb-3 me-4">
            <div class="form-floating">
                {{ wtf.form_field(album_form.end, value=album.end or "") }}
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            {{ wtf.form_field(album_form.submit) }}
        </div>
    </div>
</form>
{% endif %}

<div class="row row-cols g-2 justify-content-center" id="lightgallery">
    {% for photo in photos %}
    <div class="col col-auto position-relative">
        <a href="{{ photo.src }}?{{ token_args }}"
           data-lg-size="{{ min(photo.height, photo.width) }}-{{ photo.height }}"
           data-file_name="{{ photo.file_name }}"
           data-caption="{{ photo.caption or "" }}"
           data-author_str="{{ photo.author_str or "" }}"
           data-date="{{ photo.timestamp.date() if photo.timestamp else "" }}"
           data-time="{{ photo.timestamp.time() if photo.timestamp else "" }}"
           data-lat="{{ photo.lat or "" }}" data-lng="{{ photo.lng or "" }}"
           data-featured="{{ photo.featured or "" }}"
           {% if photo.info %} title="{{ photo.info }}"{% endif %}
        >
            <img src="{{ url_for("static", filename="img/loading.gif") }}"
                 data-src="{{ photo.thumb_src }}?{{ token_args }}"/>
            {# Si on veut changer la taille de la miniature, il faut la modifier dans app/routes/photos/utils.py,
               et tout re-générer à l'aide de scripts/sync_photos.py ! (pas de script pour ça pour l'instant) #}
        </a>
        {% if can_edit %}
        <!-- Photo edit ribbon -->
        <div class="position-absolute d-flex bg-warning justify-content-evenly py-2 edit-mode-only
                    {{ 'd-none' if not is_edit_mode else '' }}" style="bottom:0; width: 136px;">
            <button type="button" title="{{ _('Modifier') }}" class="btn btn-secondary btn-sm"
                    data-bs-target="#mo-edit" data-bs-toggle="modal" onclick="preparePhotoEdit(this);">
                <svg class="bi flex-shrink-0" width="16" height="16">{{ macros.bootstrap_icon("pencil") }}</svg>
            </button>
            {% if photo.featured %}
            <button type="button" title="{{ _('Miniature actuelle') }}" class="btn btn-success btn-sm current-feat">
                <svg class="bi flex-shrink-0" width="16" height="16">{{ macros.bootstrap_icon("star-fill") }}</svg>
            </button>
            {% else %}
            <button type="button" title="{{ _('Nouvelle miniature') }}" class="btn btn-success btn-sm"
                    onclick="favoritePhoto(this);">
                <svg class="bi flex-shrink-0" width="16" height="16">{{ macros.bootstrap_icon("star") }}</svg>
            </button>
            {% endif %}
            <button type="button" title="{{ _('Supprimer') }}" class="btn btn-danger btn-sm"
                    onclick="confirm('Supprimer cette photo ? Cette action est irréversible !') && deletePhoto(this);">
                <svg class="bi flex-shrink-0" width="16" height="16">{{ macros.bootstrap_icon("trash") }}</svg>
            </button>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% if can_edit %}
    <!-- Uploader -->
    <div class="col col-auto edit-mode-only{{ '' if is_edit_mode else ' d-none' }}" id="uppy-photo-uploader">
        <button type="button" class="btn btn-outline-success p-5" height="100%" width="136px"
                title="{{ _('Ajouter des photos') }}" class="lg-icon d-flex align-items-center">
            <svg class="bi flex-shrink-0 mx-auto" width="38px" height="38px">
                {{ macros.bootstrap_icon("cloud-upload") }}
            </svg>
        </button>
    </div>
    {% endif %}
</div>

<!-- Gallery custom buttons (moved through JS) -->
<div hidden>
    {# Bouton déplacé dans la barre de la galerie, une fois chargée #}
    <button id="report-button" type="button" title="{{ _('Signaler') }}" class="lg-icon d-flex align-items-center"
            data-bs-target="#mo-report" data-bs-toggle="modal">
        <svg class="bi flex-shrink-0 mx-auto" width="17" height="17">{{ macros.bootstrap_icon("flag") }}</svg>
    </button>
</div>

{% if can_edit %}
<!-- Edit modal -->
<div class="modal fade" id="mo-edit" tabindex="-1" aria-labelledby="mo-edit-lab" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="mo-edit-lab">
                {{ _("Modifier la photo") }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ _("Fermer") }}"></button>
        </div>
        <form action="" method="" role="form" id="edit-photo-form">
            <div class="modal-body container">
                {{ photo_form.hidden_tag() }}
                <input name="collection" value="{{ album.collection.dir_name }}" hidden>
                <input name="album" value="{{ album.dir_name }}" hidden>
                <div class="row mb-3"><div class="col">
                    <div class="form-floating">
                        {{ wtf.form_field(photo_form.photo_name, readonly=True) }}
                    </div>
                </div></div>
                <div class="row mb-3"><div class="col">
                    <div class="form-floating">
                        {{ wtf.form_field(photo_form.caption, maxlength=280) }}
                    </div>
                </div></div>
                <div class="row mb-3"><div class="col">
                    <div class="form-floating">
                        {{ wtf.form_field(photo_form.author_str, maxlength=64) }}
                    </div>
                </div></div>
                <div class="row mb-3">
                    <div class="col col-6">
                        <div class="form-floating">
                            {{ wtf.form_field(photo_form.date) }}
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-floating">
                            {{ wtf.form_field(photo_form.time, step=1) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col col-6">
                        <div class="form-floating">
                            {{ wtf.form_field(photo_form.lat) }}
                        </div>
                    </div>
                    <div class="col col-6">
                        <div class="form-floating">
                            {{ wtf.form_field(photo_form.lng) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ wtf.form_field(photo_form.submit) }}
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    {{ _("En fait non") }}
                </button>
            </div>
        </form>
    </div></div>
</div>
{% endif %}

<!-- Report modal -->
<div class="modal fade" id="mo-report" tabindex="-1"
     aria-labelledby="mo-report-lab" aria-hidden="true">
    <div class="modal-dialog"><div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="mo-report-lab">
                {{ _("Signaler un problème") }}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="{{ _("Fermer") }}"></button>
        </div>
        <div class="modal-body container">
            <div class="row mb-3">
                <div class="col">
                    {{ _("Un problème avec cette photo ? Elle porte atteinte "
                         "à votre image et vous souhaitez la supprimer, ou "
                         "simplement une information est erronnée ? "
                         "Dites-le nous !") }}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-danger" id="send-report-button"
               href="{{ url_for("main.contact") }}?title={{ _("Problème avec "
                     "la photo : %(path)s/__photo__", path=album.src) }}">
                {{ _("Signaler un problème") }}
            </a>
            <button class="btn btn-secondary" data-bs-dismiss="modal">
                {{ _("En fait non") }}
            </button>
        </div>
    </div></div>
</div>

{% endblock %}
