<div class="alert alert-warning border border-warning border-opacity-25 rounded-pill px-4 py-2 mb-4 d-flex justify-content-between align-items-center shadow-sm" role="alert">
    <div class="flex-grow-1 text-center fw-bold text-dark">
        {{ _("Action réalisée en tant que %(doas)s", doas=g.pceen) }}
    </div>
    <a href="." class="text-warning text-decoration-none opacity-75 hover-opacity-100" title="{{ _("Fermer") }}" role="button">
        <svg class="bi flex-shrink-0" width="24" height="24" fill="currentColor">
            {{ macros.bootstrap_icon("x-circle-fill") }}
        </svg>
    </a>
</div>
