{% if can_edit %}
<button
  class="btn btn-outline-primary"
  id="edit-text"
  style="margin-top: 5px; margin-bottom: 5px"
>
  <svg
    class="bi flex-shrink-0"
    width="18"
    height="18"
  >
    {{ macros.bootstrap_icon("pen") }}
  </svg>
</button>
<div
  id="wysiwyg_editor"
  class="col"
>
  <div id="editor">{{html_file | safe}}</div>
  <button
    type="submit"
    class="btn btn-primary"
    style="margin-top: 5px; margin-bottom: 5px"
    id="save-text"
  >
    {{ ("Sauvegarder") }}
  </button>
</div>
<br />
{% endif %}

<div id="intro_text">{{html_file | safe}}</div>
